@model ViewModels.CartViewModel

@{
		ViewBag.Title = "سبد خرید";
		Layout = "~/Views/Shared/FrontEnd/_FronEndLayout.cshtml";
}
<div class="breadcrumb_section bg_gray page-title-mini">
	<div class="container">
		<!-- STRART CONTAINER -->
		<div class="row align-items-center">
			<div class="col-md-6">
				<div class="page-title">
					<h1>Shopping Cart</h1>
				</div>
			</div>
			<div class="col-md-6">
				<ol class="breadcrumb justify-content-md-end">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li class="breadcrumb-item active">Shopping Cart</li>
				</ol>
			</div>
		</div>
	</div>
</div>

<div class="main_content">

	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="table-responsive shop_cart_table">
						<table class="table">
							<thead>
								<tr>
									<th class="product-thumbnail">&nbsp;</th>
									<th class="product-name text-center">product</th>
									<th class="product-name text-center">color</th>
									<th class="product-name text-center">size</th>
									<th class="product-price">price</th>
									<th class="product-quantity">quantity</th>
									<th class="product-subtotal">total</th>
									<th class="product-remove">remove</th>
								</tr>
							</thead>
							<tbody>

								@foreach (var product in Model.Products)
								{
										<tr>
											<td class="product-thumbnail"><a href="#"><img src="@product.Product.ImageUrl" alt="product1"></a></td>
											<td class="product-name" data-title="Product"><a href="#">@product.Product.Title</a></td>
										
											<td class="product-price" data-title="Price">@product.Product.Color.Title</td>
											<td class="product-price" data-title="Price">@product.SizeTitle</td>
											<td class="product-price" data-title="Price">@product.Amount</td>
											<td class="product-quantity" data-title="Quantity">
												<div class="quantity">
													<input type="button" value="-" class="minus">
													<input type="text" name="quantity" value="@product.Quantity" title="Qty" id="txt-qty-@product.Product.Code" class="qty" size="4">
													<input type="button" value="+" class="plus">
												</div>
											</td>
											<td class="product-subtotal" data-title="Total">@product.RowAmount</td>
											<td class="product-remove" data-title="Remove"><a href="#"><i class="ti-close"></i></a></td>
										</tr>
								}

							</tbody>
							<tfoot>
							<tr>
								<td colspan="7" class="px-0">
									<div class="row no-gutters align-items-center">

										<div class="col-lg-4 col-md-6 mb-3 mb-md-0">
											<div class="coupon field_form input-group">
												<input type="text" value="" id="coupon" class="form-control form-control-sm" placeholder="Enter Coupon Code..">
												<div class="input-group-append">
													<button class="btn btn-fill-out btn-sm" type="button" onclick="addDiscountCode();">Apply Coupon</button>
													
												</div>
											
											</div>
										</div>
										<div class="col-lg-8 col-md-6 text-left">
											<div class="alert alert-danger" id="errorDiv-discount"></div>
											<div class="alert alert-success" id="SuccessDiv-discount">your coupon submited successfully.</div>
										</div>
									</div>
								</td>
							</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="small_divider"></div>
					<div class="divider center_icon"><i class="ti-shopping-cart-full"></i></div>
					<div class="small_divider"></div>
				</div>
			</div>
			<div class="row">
		
		 
			 
				
				
				<div class="col-md-12">
					<div class="border p-3 p-md-4">
						<div class="heading_s1 mb-3">
							<h6>Cart Totals</h6>
						</div>
						<div class="table-responsive">
							<table class="table">
								<tbody>
								<tr>
									<td class="cart_total_label">Cart Subtotal</td>
									<td class="cart_total_amount">$ @Model.SubTotal</td>
								</tr>
								<tr>
									<td class="cart_total_label">Shipping</td>
									<td class="cart_total_amount">Free Shipping</td>
								</tr>
								<tr>
									<td class="cart_total_label">Discount</td>
									<td class="cart_total_amount">$ @Model.DiscountAmount</td>
								</tr>
								<tr>
									<td class="cart_total_label">Total</td>
									<td class="cart_total_amount"><strong>$ @Model.Total</strong></td>
								</tr>
								</tbody>
							</table>
						</div>
						<a href="/checkout" class="btn btn-fill-out">Proceed To CheckOut</a>
					</div>
				</div>
			</div>
		</div>
	</div> 


</div>

<div class="loading-fuulpage">Loading&#8230;</div>

@section scripts{
	<script src="~/Scripts/function.js"></script>
}

@section head{
<link href="~/assets/css/checkout-style.css" rel="stylesheet" />
}
