@model IEnumerable<Models.DiscountCode>

@{
ViewBag.Title = "List " ;
    
}

<h2>@ViewBag.Title</h2>

        @(Html.Kendo().Grid(Model)
              .Name("Grid")
              .Columns(columns =>
                  {
                              columns.Bound(model => model.Code);
        columns.Bound(model => model.ExpireDate);
        columns.Bound(model => model.IsPercent);
        columns.Bound(model => model.Amount);
        columns.Bound(model => model.IsMultiUsing);
        columns.Bound(model => model.IsActive);
        columns.Bound(model => model.CreationDate);
					columns.Bound(item => @item.Id).Title("Actions").Filterable(false).Groupable(false)
							.Template(@<text>
									@Html.ActionLink("Edit", "Edit", new {id = @item.Id}, new {@class = "k-button"})
									@Html.ActionLink("Delete", "Delete", new {id = @item.Id}, new {@class = "k-button"})
									</text>).Width(200);  
		})
		.ToolBar(toolbar =>
					{				
						toolbar.Custom().Action("Create","DiscountCodes").Text("Add");                          
					}
		)         
		.DataSource(dataSource => dataSource
									.Server()
							
									.Model(model => model.Id(item => item.Id))
					)              
	)
