@model ViewModels.ProductSizeCreateViewModel

@{
    ViewBag.Title = "Add " + Server.HtmlDecode(Html.DisplayNameFor(model => model).ToString());
}

<h2>Add @Html.DisplayNameFor(model => model)</h2>

@using (Html.BeginForm("Create", "ProductSizes",FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">        
        @Html.ValidationSummary(true)

        <div class="form-group">
 
	        <div class="panel panel-primary">
		        <div class="panel-heading">Sizes</div>
		        <div class="panel-body">
			        <div class="row">

				        @for (var i = 0; i < Model.Sizes.Count(); i++)
				        {
					        <div class="col-md-2">
						        @Html.HiddenFor(model => model.Sizes[i].Id)
						        @Html.CheckBoxFor(model => model.Sizes[i].IsSelected)
						        @Html.DisplayFor(model => model.Sizes[i].Title)
					        </div>
				        }
			        </div>
		        </div>
	        </div>
					 
	        <div class="form-group">
		        @Html.LabelFor(model => model.Stock, new { @class = "control-label col-md-2" })
		        <div class="col-md-10">
			        @Html.EditorFor(model => model.Stock)

			        @Html.ValidationMessageFor(model => model.Stock)
		        </div>
	        </div>
        <div class="form-group">
	 
    

        <div class="form-group" id="buttons">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-primary" />
	            @Html.ActionLink("Return to list", "Index",new{id=ViewBag.ProductId})
            </div>
        </div>
        </div>
					</div>
					</div>
}

